body {
    
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(37, 36, 36);
    border: solid 3px rgb(84, 179, 216);
}

input {
    font-family: 'Roboto Slab', serif;
}

i {
    width: 25%;
}